@font-face {
    font-family: 'FrederGreat';
    src: local('FrederGreat'),
        url('../assets/fonts/FrederGreat/FrederGreat-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Cascadia';
    src: local('Cascadia'),
        url('../assets/fonts/Cascadia/Cascadia.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'DejaVu';
    src: local('DejaVu'), url('../assets/fonts/DejaVu/DejaVu.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans'),
        url('../assets/fonts/OpenSans/OpenSans.ttf') format('truetype');
    font-weight: 400;
}
